html {
    font-size: 100%;
}

body {
    padding: 20rem;
}
.container{
    width: 12.5rem;
    height: 12.5rem;
    perspective: 600px;
}
.cube{
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}
.cube_face {
    width: 12.5rem;
    height: 12.5rem;
    border: 2px solid black;
    position: absolute;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.cube_face.front{
    background-color: rgba(255, 0, 0, 0.7);
    transform: rotateY(0deg) translateZ(6.25rem)
}
 .cube_face.back{
    background-color:  rgba(0, 255, 0, 0.7);
    transform: rotateY(180deg) translateZ(6.25rem);
}
.cube_face.left{
    background-color:  rgba(255, 255, 0, 0.7);
    transform: rotateY(90deg) translatez(-6.25rem);
}
.cube_face.right{
    background-color:  rgba(0, 0, 255, 0.7);
    transform: rotateY(90deg) translatez(6.25rem);
}
.cube_face.top{
    background-color:  rgba(255, 0, 255, 0.7);
    transform: rotateX(90deg) translateZ(6.25rem);
}
.cube_face.bottom{
    background-color:  rgba(0, 255, 255, 0.7);
    transform: rotateX(-90deg) translateZ(6.25rem);
} 